<a href="https://colab.research.google.com/github/cuongle2002/AI-/blob/main/AI(WEEK_8_CRABS).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
url = '/content/crabs.csv'
data = pd.read_csv(url)
data.head()

  speies sex  index  fontallip  rearwidth  length  width  depth
0      B   M      1        8.1        6.7    16.1   19.0    7.0
1      B   M      2        8.8        7.7    18.1   20.8    7.4
2      B   M      3        9.2        7.8    19.0   22.4    7.7
3      B   M      4        9.6        7.9    20.1   23.1    8.2
4      B   M      5        9.8        8.0    20.3   23.0    8.2

In [ ]:
## cứ 3 bit mã hóa 1 giá trị 
## loài + các đặc tính = sex

In [ ]:
data['speies'].replace(["O", "B"], [1,0], inplace = True)
data['sex'].replace(['M', 'F'], [1,0], inplace = True) 
data

     speies  sex  index  fontallip  rearwidth  length  width  depth
0         0    1      1        8.1        6.7    16.1   19.0    7.0
1         0    1      2        8.8        7.7    18.1   20.8    7.4
2         0    1      3        9.2        7.8    19.0   22.4    7.7
3         0    1      4        9.6        7.9    20.1   23.1    8.2
4         0    1      5        9.8        8.0    20.3   23.0    8.2
..      ...  ...    ...        ...        ...     ...    ...    ...
195       1    0     46       21.4       18.0    41.2   46.2   18.7
196       1    0     47       21.7       17.1    41.7   47.2   19.6
197       1    0     48       21.9       17.2    42.6   47.4   19.5
198       1    0     49       22.5       17.2    43.0   48.7   19.8
199       1    0     50       23.1       20.2    46.2   52.5   21.1

[200 rows x 8 columns]

In [ ]:
import pandas as pd 
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
x = pd.DataFrame([data['speies'],data['index'],data['fontallip'],data['rearwidth'],data['length'],data['width'],data['depth']]).T
y = data['sex']

print(x[:5])
print(y[:5])

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3)

   speies  index  fontallip  rearwidth  length  width  depth
0     0.0    1.0        8.1        6.7    16.1   19.0    7.0
1     0.0    2.0        8.8        7.7    18.1   20.8    7.4
2     0.0    3.0        9.2        7.8    19.0   22.4    7.7
3     0.0    4.0        9.6        7.9    20.1   23.1    8.2
4     0.0    5.0        9.8        8.0    20.3   23.0    8.2
0    1
1    1
2    1
3    1
4    1
Name: sex, dtype: int64

In [ ]:
sc = StandardScaler()   # đã scale
sc.fit(x_train)
x_train_std = sc.transform(x_train)
x_test_std  = sc.transform(x_test)

print(x_train[:5], x_train_std[:5])    # đã scale

    speies  index  fontallip  rearwidth  length  width  depth
90     0.0   41.0       15.6       13.9    32.8   37.9   13.4
20     0.0   21.0       14.3       11.6    31.3   35.5   12.7
18     0.0   19.0       13.3       11.1    27.8   32.3   11.3
95     0.0   46.0       16.4       14.0    34.2   39.8   15.2
41     0.0   42.0       17.9       14.1    39.7   44.6   16.8 [[-1.02899151  1.08715677  0.03737389  0.45818616  0.13607249  0.23228313
  -0.15597619]
 [-1.02899151 -0.29524057 -0.34262876 -0.42632189 -0.07877881 -0.07878555
  -0.36508244]
 [-1.02899151 -0.43348031 -0.63493848 -0.61860625 -0.58009852 -0.4935438
  -0.78329493]
 [-1.02899151  1.4327561   0.27122167  0.49664303  0.33660038  0.47854584
   0.38172559]
 [-1.02899151  1.15627663  0.70968626  0.5350999   1.12438849  1.10068321
   0.85968272]]

In [ ]:

model = Perceptron(max_iter = 1000, eta0 = 0.1,random_state = 0 )   #max_iter: số lần học, eta0: tốc độ học, random_state: lấy ngẫu nhiên 
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
print(y_pred[:5])
print(y_test[:5])
print("độ chính xác mô hình chưa sờ'ssssss ceo:",accuracy_score(y_test, y_pred))

[1 1 1 0 1]
135    1
3      1
12     1
167    0
28     1
Name: sex, dtype: int64
độ chính xác mô hình chưa sờ'ssssss ceo: 0.9833333333333333

In [ ]:
model = Perceptron(max_iter = 1000, eta0 = 0.1,random_state = 0)
model.fit(x_train_std, y_train)
y_pred = model.predict(x_test_std)
print(y_pred[:5])
print(y_test[:5])
print("độ chính xác mô hình đã sờ'ssssss ceo:",accuracy_score(y_test, y_pred))

[1 0 1 0 1]
135    1
3      1
12     1
167    0
28     1
Name: sex, dtype: int64
độ chính xác mô hình đã sờ'ssssss ceo: 0.8833333333333333