<a href="https://colab.research.google.com/github/cuongle2002/AI-/blob/main/AI(WEEK_8_diabetes).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
url = '/content/pima-indians-diabetes.csv'
data = pd.read_csv(url)
data.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [ ]:
import pandas as pd 
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
x = data.loc[:, ["6", "148","35", "0", "33.6", "0.627", "50"]]
y = data['1']

print(x[:5])
print(y[:5])

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3)

   6  148  35    0  33.6  0.627  50
0  1   85  29    0  26.6  0.351  31
1  8  183   0    0  23.3  0.672  32
2  1   89  23   94  28.1  0.167  21
3  0  137  35  168  43.1  2.288  33
4  5  116   0    0  25.6  0.201  30
0    0
1    1
2    0
3    1
4    0
Name: 1, dtype: int64

In [ ]:
sc = StandardScaler()   # đã scale
sc.fit(x_train)
x_train_std = sc.transform(x_train)
x_test_std  = sc.transform(x_test)

print(x_train[:5], x_train_std[:5])    # đã scale

      6  148  35    0  33.6  0.627  50
690  13  158   0    0  42.3  0.257  44
127   1  117  24  145  34.5  0.403  40
746   1   81  41   57  46.3  1.096  32
244   9  184  15    0  30.0  1.213  49
634  13  104   0    0  31.2  0.465  38 [[ 2.61327363  1.18518972 -1.27255348 -0.69520961  1.24794535 -0.65924821
   0.94021323]
 [-0.88632578 -0.08906318  0.22626798  0.60873833  0.29370402 -0.23532893
   0.59337614]
 [-0.88632578 -1.20791938  1.28793318 -0.18262318  1.73729988  1.77683584
  -0.10029804]
 [ 1.44674049  1.99325253 -0.33579007 -0.69520961 -0.25681983  2.11655197
   1.37375959]
 [ 2.61327363 -0.49309459 -1.27255348 -0.69520961 -0.11001347 -0.05530842
   0.4199576 ]]

In [ ]:

model = Perceptron(max_iter = 1000, eta0 = 0.1,random_state = 0 )   #max_iter: số lần học, eta0: tốc độ học, random_state: lấy ngẫu nhiên 
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
print(y_pred[:5])
print(y_test[:5])
print("độ chính xác mô hình chưa sờ'ssssss ceo:",accuracy_score(y_test, y_pred)*100, "%")

[0 0 0 0 0]
271    0
497    1
349    0
168    0
255    0
Name: 1, dtype: int64
độ chính xác mô hình chưa sờ'ssssss ceo: 70.12987012987013 %

In [ ]:
model = Perceptron(max_iter = 1000, eta0 = 0.1,random_state = 0)
model.fit(x_train_std, y_train)
y_pred = model.predict(x_test_std)
print(y_pred[:5])
print(y_test[:5]) 
print("độ chính xác mô hình đã sờ'ssssss ceo:",accuracy_score(y_test, y_pred)*100, "%")

[0 1 1 0 0]
271    0
497    1
349    0
168    0
255    0
Name: 1, dtype: int64
độ chính xác mô hình đã sờ'ssssss ceo: 68.3982683982684 %